@page "/"

<h1>Probability Inference Test of ML.NET in Blazor Web Assembly</h1>
<h1>Hosted on Azure Static Web site</h1>

<br />
<b>GitHub Source Code:</b>
<a href="https://github.com/bartczernicki/Test-Blazor-MLNet">GitHub Source Code</a>
