@page "/"

<strong class="form-text">ML.NET Baseball Predictions</strong>
<strong class="form-text text-muted"> Hosted on Azure Static Web Site</strong>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    12/29/2020 - .NET 5.0.1 RTM
</small>
<br />
<small class="form-text text-muted">
    <b>About: </b>This demo showcases performing local Machine Learning inference using ML.NET and Blazor WebAssembly. Historical baseball 
    batting data is loaded into memory, where several Machine Learning .NET models perform dynamic predictions for Hall Of Fame induction.
</small>
<small class="form-text text-muted">
    The purpose of the demo is to highlight that Blazor WebAssembly architectures can surface complex analytical
    insights using Machine Learning, data visualizations and in-memory patterns <b>without any remote server resources</b> (APIs, gRPC, remote calls etc.).
</small>
<br />
<small class="form-text text-muted">
    <b>Demo - </b>Baseball ML Workbench (.NET Core 3.x, Blazor Server):
    <a href="https://aka.ms/baseballmlworkbench" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET Core 3.x, Blazor WASM):
    <a href="https://statisticsandblazordotnetcore3.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET 5, Blazor WASM):
    <a href="https://statisticsandblazordotnet5.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>ML.NET Baseball Predictions (.NET 5, Blazor WASM, Azure Static Website):
    <a href="https://mlnetandblazor.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>ML.NET Baseball Predictions (.NET 5, Blazor WASM, Azure App Service):
    <a href="https://mlnetandblazor.azurefd.net/" target="_blank">Demo Link</a>
</small>
<br />
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Baseball ML Workbench (.NET Core 3.x, Blazor Server):
    <a href="https://github.com/bartczernicki/MachineLearning-BaseballPrediction-BlazorApp" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Statistical Simulations & Visuals (.NET Core 3.x, Blazor WASM):
    <a href="https://github.com/bartczernicki/Test-Blazor-WebAssembly-StatisticsAndML" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Statistical Simulations & Visuals (.NET 5, Blazor WASM):
    <a href="https://github.com/bartczernicki/Test-Blazor-WebAssembly-StatisticsAndML-DotNet5" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>ML.NET Baseball Predictions (.NET 5, Blazor WASM, Self-Host):
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet-WASMHost" target="_blank">GitHub Source Code Repository</a>
</small>

