@page "/"

<strong class="form-text">Probability Inference Test of ML.NET in Blazor Web Assembly</strong>
<strong class="form-text text-muted"> Hosted on Azure Static Web Site</strong>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    11/17/2020 - .NET 5.0 RTM
</small>
<br />
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>.NET 5 Blazor WASM & ML.NET with Self-Host:
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet-WASMHost" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>.NET 5 Blazor WASM & ML.NET with ASP.NET Core Host:
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Baseball ML Workbench:
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet" target="_blank">GitHub Source Code Repository</a>
</small>
<br />
<small class="form-text text-muted">
    <b>Demo - </b>Baseball ML Workbench (.NET Core 3.x):
    <a href="https://aka.ms/baseballmlworkbench" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>.NET Core 3.x Blazor WASM and Local Statistics Sampling:
    <a href="https://statisticsandblazordotnetcore3.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>.NET 5 Blazor WASM and Local Statistics Sampling:
    <a href="https://statisticsandblazordotnet5.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>.NET 5 Blazor WASM & ML.NET with Self-Host (Azure Static Web Site):
    <a href="https://mlnetandblazor.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>.NET 5 Blazor WASM & ML.NET with Self-Host (Azure App Service):
    <a href="https://test-blazor-mlnet.azurewebsites.net" target="_blank">Demo Link</a>
</small>
