@page "/"

<h5>Probability Inference Test of ML.NET in Blazor Web Assembly</h5>
<h5>Hosted on Azure Static Web site</h5>

<h6 class="pb-2 mb-0"><b>GitHub Source Code (Blazor WASM with Self-Host): </b>
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet-WASMHost" target="_blank">GitHub Source Code Repository</a></h6>
<h6 class="pb-2 mb-0"><b>GitHub Source Code (Blazor WASM with ASP.NET Core Host): </b>
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet" target="_blank">GitHub Source Code Repository</a></h6>