@page "/"

<strong class="form-text">Probability Inference Test of ML.NET in Blazor Web Assembly</strong>
<strong class="form-text text-muted"> Hosted on Azure Static Web Site</strong>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    11/27/2020 - .NET 5.0 RTM
</small>
<br />
<small class="form-text text-muted">
    <b>Demo - </b>Baseball ML Workbench (.NET Core 3.x, Blazor Server):
    <a href="https://aka.ms/baseballmlworkbench" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET Core 3.x, Blazor WASM):
    <a href="https://statisticsandblazordotnetcore3.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>Statistical Simulations & Visuals (.NET 5, Blazor WASM):
    <a href="https://statisticsandblazordotnet5.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>ML.NET Baseball Predictions (.NET 5, Blazor WASM, Azure Static Website):
    <a href="https://mlnetandblazor.azureedge.net" target="_blank">Demo Link</a>
</small>
<small class="form-text text-muted">
    <b>Demo - </b>ML.NET Baseball Predictions (.NET 5, Blazor WASM, Azure App Service):
    <a href="https://test-blazor-mlnet.azurewebsites.net" target="_blank">Demo Link</a>
</small>
<br />
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Baseball ML Workbench (.NET Core 3.x, Blazor Server):
    <a href="https://github.com/bartczernicki/MachineLearning-BaseballPrediction-BlazorApp" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Statistical Simulations & Visuals (.NET Core 3.x, Blazor WASM):
    <a href="https://github.com/bartczernicki/Test-Blazor-WebAssembly-StatisticsAndML" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>Statistical Simulations & Visuals (.NET 5, Blazor WASM):
    <a href="https://github.com/bartczernicki/Test-Blazor-WebAssembly-StatisticsAndML-DotNet5" target="_blank">GitHub Source Code Repository</a>
</small>
<small class="form-text text-muted">
    <b>GitHub Source Code - </b>ML.NET Baseball Predictions (.NET 5, Blazor WASM, Self-Host):
    <a href="https://github.com/bartczernicki/Test-Blazor-MLNet-WASMHost" target="_blank">GitHub Source Code Repository</a>
</small>

